<% if current_user %>
  <h1>You're safe in your house, <%= current_user.username %>!</h1>

  <h3>Your Profession</h3>
    <%= current_user.profession.name %>
    <br>
    <br>
  <h3>Your Items</h3>

  <% current_user.items.each do |item| %>
    <u><%= item.name %></u>
    <p>Offense: <%= item.offense %></p>
    <p>Defense: <%= item.defense %></p>
  <% end %>
<br>
  <h3>Are you ready?</h3>
  <p>Health: <%= current_user.user_health %></p>
  <p>Offense: <%= current_user.user_offense %></p>
  <p>Defense: <%= current_user.user_defense %></p>
<% else %>
  <p>You need to log in to view this content</p>
<% end %>
