<h1><%= @story.title %></h1>

<p><%= @story.description %></p>

<h3>On this journey you might encounter:</h3>
<% @story.enemies.each do |enemy| %>
  <u><%= enemy.name %></u>
  <p>Health: <%= enemy.health %></p>
  <p>Offense: <%= enemy.offense %></p>
  <p>Defense: <%= enemy.defense %></p>
  <% if current_user %>
  ------------------------

  <p>You need to roll a <%= 6 - enemy.health + enemy.defense - current_user.user_offense %> to win (6 sided die)</p>
  <%= link_to "Run Away", user_path(current_user), data: {confirm: "If you run away you won't get the sweet, sweet loots..."} %>
  <%= link_to "Roll Die", story_path(@story), data: {confirm: "Unfortunatly there aren't any dice in Gloamwood Forest yet. I'd recommend trying your hand at theft."} %>
  <%= render partial: "form_steal_item" %>
  <% end %><br>
<% end %>
<br>
<br>
<h4>Known to carry:</h4>
<% @story.items.each do |item| %>
  <u><%= item.name %></u>
  <p>Offense: <%= item.offense %></p>
  <p>Defense: <%= item.defense %></p>
  <br>
<% end %>

<% if current_user %>
  <h3>How do you stack up?</h3>
  <p>Health: <%= current_user.user_health %></p>
  <p>Offense: <%= current_user.user_offense %></p>
  <p>Defense: <%= current_user.user_defense %></p>
<% end %>
