<h1><%= @story.title %></h1>

<p><%= @story.description %></p>

<% @story.items.each do |item| %>
  <%= item.name %>
  <%= item.offense %>
  <%= item.defense %>
<% end %>

<% @story.enemies.each do |enemy| %>
  <%= enemy.name %>
  <%= enemy.health %>
  <%= enemy.offense %>
  <%= enemy.defense %>
<% end %>
